<h1 th:text="${post.title}"></h1>

<p th:text="${post.content}"></p>

<form action="/delete" method="post">
    <input type="hidden"
           name="id"
           th:value="${post.id}">

    <p>작성자:<span th:text="${post.writer.username}">홍길동</span></p>

    <div th:if="${session.loginUser != null and session.loginUser.id == post.writer.id}">
        <button type="submit">삭제</button>
        <br>
        <a th:href="@{/edit(id=${post.id})}">수정</a>
    </div>



    <a href="/list">목록</a>
</form>